<h1>Découverte Angular</h1>

<a no-open href="https://google.com">Google !</a><br>

<a confirm confirm-message="Vous êtes sûr d'aller dans la poubelle du web ?" href="https://twitter.com">Twitter !</a>
<p highlight background-color="blue" base-color="purple">Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Doloribus exercitationem aut culpa aliquam optio dolorem,
  eveniet quaerat obcaecati nam eius consectetur veritatis ducimus sapiente voluptatibus.</p>

<p highlight>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, aliquam laudantium. Eum itaque nam quis!
</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, vel nulla. Totam perferendis laudantium
  voluptatem necessitatibus! Dignissimos molestias corporis consectetur dicta ut quas ab possimus.</p>